# Node
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs
logs
*.log
*.log.*

# OS / Editor junk
.DS_Store
*.swp

# Azure Functions
local.settings.json
.env

# Production build directories
# dist/
build/
